/* https://github.com/web-platform-tests/wpt/blob/master/css/css-mixins/mixin-basic.html */
@mixin --m1() {  /* Will be overwritten. */
	@result {
		.cls {
		color: red;
		}
	}
}
@mixin --m1() {
	@result {
		.cls {
		color: green;
		}
	}
}
@mixin invalid-name() {
	@result {
		.cls {
		color: red;
		}
	}
}
@mixin --without-argument-list {
	@result {
		.cls {
		color: red;
		}
	}
}
@mixin --missing-result1() {
	.cls {
		color: red;
	}
}
@mixin --missing-result2() {
	color: red;
}
@mixin --empty1() {}
@mixin --empty2() {
	@result {}
}
div {
	@apply --m1;
	@apply invalid-name;
	@apply --without-argument-list;
	@apply --missing-result1;
	@apply --missing-result2;
	@apply --empty1;
	@apply --empty2;
}
